<header class="cabecalho">
    <div>
      <a href="/"><img src="./img/icon/icon.png" alt="Logo Academia Equilibrio"></a>
    </div>
    <nav class="itensHeader">
      <ul>
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#section-servicos">Serviços</a>
        </li>
        <li>
          <a href="/login">Agendar</a>
        </li>
      </ul>
    </nav>
  </header>