.section1 {
    background-color: #fff;
    padding: 8px;
    /* text-align: center; */
    font-weight: 200;
    font-size: 30px;
    color: #040510f5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 45px;
}

/* 
.section1 img {
    width: 4%;
    height: 20%;
    margin: 0;
    object-fit: cover;
} */
#banner {
    width: 100%;
    height: 580px;
    object-fit: cover;
    filter: grayscale(50%)
}

.section1 img {
    width: 590px;
    height: 450px;
    margin: 0;
    object-fit: cover;
}

.section1 p {
    font-size: 17px;
    color: rgba(0, 0, 0, 0.39);
    margin: 10px 0 20px;
    font-family: 'Parkinsans', sans-serif;
}

.section1 div {
    margin-left: 30px;
}

.section1 h4 {
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
}

.section2    {
    background-color: #fff;
    padding: 8px;
    /* text-align: center; */
    font-weight: 200;
    font-size: 30px;
    color: #040510f5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 45px;
}