<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="img/icon/icon.png" type="image/x-icon" style="width: 100%" />
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/dashboard.css">
  <title>Agendar Aula - Academia Equilibrio</title>
</head>

<body>
  <%- include('../components/header') %>
  <form action="/auth/agendar" method="POST">
    <div class="container-login">
      <div class="card-login">

        <h2 style="margin-bottom: 25px;">Agende sua aula</h2>
        <fieldset>
          <legend>Escolha uma atividade</legend>
          <select name="atividade" required>
            <option value="Musculação">Musculação</option>
            <option value="Yoga">Yoga</option>
            <option value="Pilates">Pilates</option>
          </select>
        </fieldset>

        <input type="datetime-local" name="data_hora" required>
        <select name="duracao" required>
          <option value="30">30 minutos</option>
          <option value="60">60 minutos</option>
          <option value="90">90 minutos</option>
        </select>
        <select name="nome_instrutor" required>
          <option value="João">João</option>
          <option value="Ádrian">Ádrian</option>
          <option value="Ana">Pedro</option>
        </select>

        <button type="submit">Agendar</button>
      </div>
    </div>
  </form>
  <%- include('../components/footer') %>

</body>

</html>