<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="img/icon/icon.png" type="image/x-icon" style="width: 100%" />
  <title>Academia Equilibrio - Página Inicial</title>
  <link rel="stylesheet" href="css/style.css">
</head>



<body>
  <%- include("../components/header") %>
 
  <main>
    <img id="banner" src="./img/banner-2.png" alt="Banner Smart Fit">
    <section class="section-info section">
      <img src="./img/interior-1.png" alt="Imagem interior da academia">
      <div>
        <h2>Por que se Matricular?</h2>
        <p>Com uma equipe de profissionais qualificados e equipamentos de última geração, a
          Academia Equilíbrio tem como missão proporcionar aos seus alunos melhor desempenho e qualidade de
          vida, proporcionando uma vida mais saudável e feliz!</p>
        <p><strong>EXCELÊNCIA:</strong> Aqui seu treino possui padrão de excelência e disponibilidade,
          garantindo rápida evolução dos nossos alunos.</p>
        <p><strong>BEM ESTAR:</strong> Com profissionais dedicados e uma atmosfera descontraída, ajudamos você a
          alcançar suas metas com prazer e entusiasmo.</p>
        <p><strong>FLEXIBILIDADE:</strong> Oferecemos horários flexíveis e uma grade diversificada de aulas,
          permitindo que você adapte seus treinos do seu jeito.</p>
      </div>
    </section>
    <section class="section-local">
      <div>
        <h2>ONDE NOS ENCONTRAR?</h2>
        <h5>Venha conhecer nosso espaço!</h5>
        <p>R. Cel. José Rufino Freire, 247 - Vila Maria Eugenia, São Paulo - SP</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3397.4617293191072!2d-46.755534673245435!3d-23.490469222043757!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cefeb69b08ada3%3A0xb31caabe3b2538c5!2sEquilibrio%20Academia!5e0!3m2!1spt-PT!2sbr!4v1732383932555!5m2!1spt-PT!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <img src="./img/interior-3.png" alt="">
    </section>
    <!-- <h3>Serviços</h3> -->
    <section id="section-servicos" class="section-servicos section">
      <a href="/login">
        <div class="card-servicos">
          <img src="./img/servicos/musculacao2.png" alt="Imagem de musculação">
          <h3>MUSCULAÇÃO</h3>
          <p>Todos os dias da semana com instrutor e equipamentos de última geração.</p>
          <p><strong>R$ 80,00</strong>/mês</p>
        </div>
      </a>
      <a href="/login">
        <div class="card-servicos">
          <img src="./img/servicos/personal.png" alt="Imagem de personal trainer">
          <h3>PERSONAL TRAINER</h3>
          <p>Aulas particulares três vezes por semana com instrutores qualificados.</p>
          <p><strong>R$ 120,00</strong>/mês</p>
        </div>
      </a>
      <a href="/login">
        <div class="card-servicos">
          <img src="./img/servicos/crossfit.png" alt="Imagem de crossfit">
          <h3>CROSSFIT</h3>
          <p>Três vezes por semana com horários flexíveis e turmas de até 8 alunos.</p>
          <p><strong>R$ 140,00</strong>/mês</p>
        </div>
      </a>
    </section>
    <!-- <section class="section-horarios">
            <table>
                <thead>
                    <tr>
                        <th colspan="2">Horários de Funcionamento:</th>
                    </tr>
                    <th>Dia</th>
                    <th>Horário</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Segunda-Feira</td>
                        <td>6h às 21h</td>
                    </tr>
                    <tr>
                        <td>Terça-Feira</td>
                        <td>6h às 21h</td>
                    </tr>
                    <tr>
                        <td>Quarta-Feira</td>
                        <td>6h às 21h</td>
                    </tr>
                    <tr>
                        <td>Quinta-Feira</td>
                        <td>6h às 21h</td>
                    </tr>
                    <tr>
                        <td>Sexta-Feira</td>
                        <td>6h às 21h</td>
                    </tr>
                    <tr>
                        <td>Sábado</td>
                        <td>6h às 11h</td>
                    </tr>
                    <tr>
                        <td>Domingo</td>
                        <td>Fechado</td>
                    </tr>
                </tbody>
            </table>
        </section> -->
  </main>
 
  <%- include('../components/footer') %>
</body>

</html>